body {
   margin: 10px;
}

.row-centered {
   text-align:center;
}
.col-centered {
   display:inline-block;
   float:none;
   text-align:left;
   margin-right:-4px;
}
.pos{
   position: relative;
   top: 240px;
}